
// COLOR PALETTE
$clr1: #a64ac9;
$clr2: #fccd04;
$clr3: #ffb48f;
$clr4: #f5e6cc;
$clr5: #17ede0;
$clr6: #f7f9fb;

// LAYOUT BREAKPOINTS
$break-narrow: 460px;
$break-normal: 740px;
$break-wide: 960px;


