

.toy-list {
    width: 100%;
    flex-wrap: wrap;
}

.toy-item-container {
    width: 250px;
    height: 250px;
    background-color: aquamarine;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.toy-item-container p {
    margin: 10px;
}

.list-container {
    /* background-color: darkcyan; */
    width: 100%;
}