

.toy-details {
    background-color: cyan;
    padding: 10px;
}

.back-btn {
    cursor: pointer;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
    background-color: coral;
    text-decoration: none;
    color: #2c3e50;
    width: 30%;
    text-align: center;
}