/* HELPERS */

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-around {
    justify-content: space-around;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.grow {
    flex-grow: 1;
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.pointer {
    cursor: pointer;
}